:host {
  display: grid;
  grid-column-gap: 10px;
  grid-auto-columns: 200px;
  grid-auto-flow: column;
  height: 100vh;
  min-width: 100vw;
}
.list_add {
  margin: 10px;
  padding: 5px;
  border: dashed 1px #998899;
  display: grid;
  grid-auto-columns: 100%;
  grid-auto-rows: 40px;
}
